<div class="container" (window:resize)="onResize($event)">
  <mat-spinner *ngIf="loading" color="warn"></mat-spinner>
  <div id="player-arena" *ngIf="!loading">
    <ng-container *ngFor="let player of playerList; let i = index">
      <div class="player-container">
        <mat-card class="player-card mat-elevation-z0" (click)="submitRanking(player.mfsId)">
          <div class="img-container">
            <img
              src="{{ player.img }}"
              alt="NBA Player"
              class="player-img"
              onerror="this.onerror=null;this.src='../../assets/default-player.png'"
            />
          </div>
          <img mat-card-avatar src="{{ player.teamLogo }}" alt="NBA Logo" class="player-logo" />
        </mat-card>
        <div class="info-container">
          <h1 class="player-name">
            {{ player.firstName | uppercase }} {{ player.lastName | uppercase }}
          </h1>
          <h2 class="player-info">
            {{ getPlayerPosition(player.position) | uppercase }} {{ getJerseyNumber(player) }}
          </h2>
        </div>
      </div>
      <div *ngIf="i === 0 && windowSize >= 760">
        <h1 class="versus">VS</h1>
      </div>
    </ng-container>
  </div>
  <button mat-mini-fab (click)="handleAudio()" class="toggle-audio" color="warn">
    <mat-icon aria-label="icon-button with a volume icon">
      {{ audioIsPlaying ? 'volume_up' : 'volume_off' }}
    </mat-icon>
  </button>

  <button mat-mini-fab [matMenuTriggerFor]="settings" class="toggle-settings" id="toggle-settings">
    <mat-icon aria-label="icon-button with a settings gear">
      settings
    </mat-icon>
  </button>
  <mat-menu #settings="matMenu">
    <button mat-menu-item class="menu-item">
      <mat-icon>clear</mat-icon>
      <span>Close</span>
    </button>
    <button mat-menu-item class="menu-item">
      <mat-slide-toggle [(ngModel)]="winnerStays" (click)="$event.stopPropagation()">
        <span>Winner Stays</span>
        <span>
          <mat-icon class="menu-icon">{{ winnerStays ? 'lock' : 'lock_open' }}</mat-icon>
        </span>
      </mat-slide-toggle>
    </button>
    <button mat-menu-item class="menu-item">
      <mat-slide-toggle [(ngModel)]="useArrows" (click)="$event.stopPropagation()">
        <span>Select Using Arrows</span>
        <span>
          <mat-icon class="menu-icon">
            {{ windowSize >= 760 ? 'swap_horiz' : 'swap_vert' }}
          </mat-icon>
        </span>
      </mat-slide-toggle>
    </button>
  </mat-menu>
</div>
