@import '../theme.scss';

.toolbar-item {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.toolbar-item:active,
.toolbar-item:focus {
  outline: 0;
  border: none;
}

.toolbar-item:hover {
  color: $green;
}

.spacer {
  flex: 1 1 auto;
}

.body {
  position: absolute;
  left: 0;
  right: 0;
  top: 56px;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}
